.recordings{
    position: relative;
    a{
        div{
            top: 221px !important;
        }
        
    }
    .BrainhubCarousel__arrows {
        padding: 11px;
        background-color: #7b59ff;
        span {
            padding: 3px;
        }
    }
}
.cards-recordings{
    display: flex;
    overflow: auto;
}
.background-card-basic{
    background-color: #eceaff;
}
.background-card-green{
    background-color: var(--lighter-green);
}